@model MedicaTest.ViewModel.CarPartVM

@{
    ViewData["Title"] = "Edit";
}

@if (Model != null)
{
    <h1>Edytuj</h1>
}
else
{
    <h1>Utwórz</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="CarPart" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" step="0,01" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @Html.HiddenFor(z => z.Added)
            @Html.HiddenFor(z => z.Modified)



            @if (ViewBag.Info == true)
            {
                <div class="form-group">
                    <span class="text-success"> Dodano pomyślnie!</span>
                </div>
            }
            else if (ViewBag.Info == false)
            {
                <div class="form-group">
                    <span class="text-danger"> Niestety nastąpił błąd.</span>
                </div>
            }

            @if (ViewBag.Update == true)
            {
                <div class="form-group">
                    <span class="text-success"> Zaktualizowano pomyślnie!</span>
                </div>
            }
            else if (ViewBag.Update == false)
            {
                <div class="form-group">
                    <span class="text-danger"> Niestety nastąpił błąd.</span>
                </div>
            }


            @if (Model != null)
            {
                <div class="form-group">
                    <input type="submit" value="Edytuj" class="btn btn-primary" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                </div>
            }


        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
